In [ ]:
!pip install psycopg2

In [ ]:
import psycopg2
con=psycopg2.connect(dbname= 'prod', host='127.0.0.1', 
port= '6161', user= 'mvinasco', password= 'mariov_ReDshft2019')

In [ ]:
cur = con.cursor()

In [ ]:
query1 = """
select accounttype, count(*)
from credit_report_tradelines
group by 1
limit 10;
"""
cur.execute(query1)

In [ ]:
cur.fetchall()

In [ ]:
cur.close() 
con.close()

# Pandas

In [1]:
# Pandas

import pandas as pd
import connect_redshift as crs
engine = crs.RedShift_engine()

In [2]:

query1 = """
select accounttype, count(*)
from credit_report_tradelines
group by 1
limit 10;
"""
data_frame = pd.read_sql_query(query1, engine)

In [3]:
data_frame.head()

           accounttype     count
0      Utility company   4196991
1             FHA loan      3829
2  Secured credit card   7423651
3       Unsecured loan  74394617
4        Child support   2495243

In [4]:
data_frame.to_pickle("../HyperV/data_frame.pkl")